<% provide(:title, "Sign in") %>
<h1>Sign in</h1>


  <%= form_for(:session, url: sessions_path) do |f| %>

  <div class="row">
    <div class="col-md-2 col-md-offset-2 text-right">
      <%= f.label :email %>
    </div>
    <div class="col-md-6">
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-2 text-right">
      <%= f.label :password %>
    </div>
    <div class="col-md-6">
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="row push">
    <div class="col-md-3 col-md-offset-4">
      <%= f.submit "Sign in", class: "btn btn-lg btn-primary btn-block" %>
    </div>
  </div>
  <% end %>
  <p class="text-center">New user? <%= link_to "Sign up now!", signup_path %></p>
</div>