<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div id="signup_info">
  <%= form_for(@user) do |f| %>
  	<%= render 'shared/error_messages', object: @user %>

    <div class="row">
      <div class="col-md-2 col-md-offset-2 text-right">
        <%= f.label :name %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-2 text-right">
        <%= f.label :email %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :email %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-2 text-right">
        <%= f.label :password %>
      </div>
      <div class="col-md-6">
        <%= f.password_field :password %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-2 text-right">
        <%= f.label :password_confirmation, "Confirmation" %>
      </div>
      <div class="col-md-6">
        <%= f.password_field :password_confirmation %>
      </div>
    </div>

    <div class="row push">
      <div class="col-md-6 col-md-offset-4">
        <%= f.submit "Create my account", class: "btn btn-inverse btn-lg" %>
      <!--</div>
      <div class="col-md-3">-->
        <%= f.submit "Cancel", class: "btn btn-default btn-lg btn-cancel" %>
      </div>
    </div>
  <% end %>

</div>