<% provide(:title, 'New Fact') %>
<h1>Enter New Fact</h1>
<div class="row">
  <div class="span6 offset3">
    <p>Enter details below:</p>
    <%= form_for(@fact) do |f| %>
      <%= render 'shared/error_messages', object: @fact %>

    	<div class="fact_element">
        <div>
	       <%= f.label :question %>
        </div>
        <div>
	       <%= f.text_field :question %>
        </div>
      </div>
      <div class="fact_element">
        <div>
	       <%= f.label :answer %>
        </div>
        <div>
	       <%= f.text_field :answer %>
        </div>
	   </div>

      <%= f.submit "Enter fact", class: "btn btn-inverse btn-large" %>
    <% end %>
    <%= button_to "Cancel", facts_path, class: "btn btn-default btn-large", method: :get %>
  </div>
</div>

