<% provide(:title, @fact.question) %>
<div>
	Q: <%= @fact.question %>
</div>
<div>
	A: <%= @fact.answer %>
</div>
<div>
	Type: <%= @fact.question_type %>
</div>
<div class="row">
	<div class="col-md-4">
		<%= link_to "Back to facts", facts_path, class: "btn btn-inverse btn-lg" %>
		<% if current_user && current_user.admin? %>
			<%= link_to "delete", @fact, method: :delete,
			data: { confirm: "You sure?" }, class: "btn btn-danger btn-lg" %>
		<% end %>
	</div>
</div>
