<!DOCTYPE html>
<html>
<head>
  <title>Oplei | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Abel|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<!--<link href="oplei.css" rel="stylesheet" type="text/css">-->
</head>
<body>
<%= image_tag("city5.png", id: "bg", alt: "") %>
	<div id="menu">
		<div id="logo"> <%= link_to 'OPLEI - PRODUCT TRAINER' %></div>
		<div id="sound_control">SOUND: <a id="sound_on" onclick="soundManager.unmute('aSound');">ON</a> / <a id="sound_off" onclick="soundManager.mute('aSound');">OFF</a></div>
	</div>

<div id="mainBox">
<%= yield %>
</div>

</body>
</html>

