<!DOCTYPE html>
<html>
<head>
  <title>Oplei | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Abel|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<!--<link href="oplei.css" rel="stylesheet" type="text/css">-->
	<script type="text/javascript">
	soundManager.setup({
	  url: '<%= asset_path('soundmanager2.swf') %>',
	  // optional: use 100% HTML5 mode where available
	  // preferFlash: false,
	  onready: function() {
	    var mySound = soundManager.createSound({
	      id: 'aSound',
	      url: '<%= asset_path 'DaveBrubeck-TakeFive.mp3' %>',
	      volume: 60
	    });
	    mySound.play();
	  },
	  ontimeout: function() {
	    // Hrmm, SM2 could not start. Missing SWF? Flash blocked? Show an error, etc.?
	  }
	});
</script>
</head>
<body>
<%= image_tag("city5.png", id: "bg", alt: "") %>
	<div id="menu">
		<div id="logo"><a href='/static_pages/home' id='logotext'>OPLEI - PRODUCT TRAINER</a></div>
		<div id="sound_control">SOUND: <a id="sound_on" onclick="soundManager.unmute('aSound');">ON</a> / <a id="sound_off" onclick="soundManager.mute('aSound');">OFF</a></div>
	</div>

<div id="mainBox">
<%= yield %>
</div>

</body>
</html>

